@media screen and (max-width: 1023px) {
    #edit-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        background-color: rgb(244, 244, 244);
        padding: 20px;
        border-radius: 20px;
        margin: 50px auto;
        text-align: center;
        gap: 1em;

    }
}